@model GroupsListViewModel

<div id="Shader"></div>

<div id="MainFrame">
    <div id="CreateNewGroupButton" onclick="ShowCreateNewGroupPanel()">
        <img src="/images/plus-icon.png" />
        <p>New</p>
    </div>
    <div id="GroupsWrapper">
        @foreach (var group in Model.GroupModels)
        {
            <div class="GroupFolder">
                <input hidden value="GUDI-1" />
                <h1>@group.Name</h1>
                <p>@group.Description</p>
                <div class="GFButtonsWrapper">
                    <div class="BFBWDelete" onclick="DeleteGroupWarningMessageShow('@(group.Id.ToString())')">
                        <img src="/images/delete-icon.png" />
                    </div>
                    <a href="#" class="BFBWDetails">
                        <img src="/images/modify-icon.png" />
                    </a>
                    <a href="#" class="BFBWPractice">
                        <img src="" alt="practice" />
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<form id="CreateNewGroupPanel" method="post">
    <input name="groupName" id="CNGPName" placeholder="Name" maxlength="30" type="text" />
    <textarea name="description" id="CNGPDescription" placeholder="Description (optional)" maxlength="150" type="text"></textarea>
    <button id="CNGPConfirm" asp-action="CreateGroup" type="submit">
        <img src="/images/plus-icon.png" />
        <p>Create</p>
    </button>
    <div id="CNGPDiscard" onclick="HideCreateNewGroupPanel()">
        <img src="/images/discard-icon.png" />
        <p>Discard</p>
    </div>
</form>

<div id="GroupDeleteConfirmationPanel">
    <img class="WarningImage" src="/images/warning-icon-big.png" />
    <p>Are you sure you want to delete this group? This means all flashcards in this group will be deleted.</p>
    <div class="GDCPButtons">
        <form method="post">
            <input name="groupId" hidden id="DeleteGroupId" />
            <input class="GDCPBYes" type="submit" asp-action="DeleteGroup" value="Yes"/>
            <div class="GDCPBNo" onclick="DeleteGroupWarningMessageHide()"><p>No</p></div>
        </form>
    </div>
</div>

@if (Model.ErrorMessages.Any())
{
    <div class="ErrorMessagesPanel" id="ErrorMessagesPanelId">
        @foreach (var message in Model.ErrorMessages)
        {
            <p>@message</p>
        }
        <br />
        <div class="EMPHideButton" onClick="HideErrorMessagesPanel()">
            <p>OK</p>
        </div>
    </div>
}

<script src="~/js/GroupListScript.js"></script>