<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Main.css" />
    <link rel="stylesheet" href="~/css/LoginRegisterStyle.css" />
    <link rel="stylesheet" href="~/css/GroupListStyle.css" />
    <link rel="stylesheet" href="~/css/FlashcardsListStyle.css" />
    <link rel="stylesheet" href="~/css/PracticeStyle.css" />
    <link rel="stylesheet" href="~/css/BeforePracticeStyle.css" />
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap" rel="stylesheet">
    <title>Flashcards</title>
</head>
<body>
    <div id="Shader"></div>
    @if (!User.Identity.IsAuthenticated)
    {
        @RenderBody()
    }
    else
    {
        <div class="Background"></div>

        <div id="NavigationBar">
            <div class="NBRow">
                <div class="NBRHideOrShowButton" onclick="HideNavigationBar()">
                    <img src="~/images/nav-bar-icon.png" />
                </div>
            </div>

            <div class="NBRow">
                <a class="NBRLink" asp-controller="Manage" asp-action="GroupsList">
                    <img src="~/images/folder-icon-v2.png" />
                    <p>Folders</p>
                </a>
            </div>
            <div class="NBSeparator"></div>
            <div class="NBSeparatorVertical"></div>

            <div class="NBRow">
                <a class="NBRLink" asp-controller="Practice" asp-action="BeforePracticeWhereUserId">
                    <img src="" alt="practice" />
                    <p>Repeat / Learn</p>
                </a>
            </div>
            <div class="NBSeparator"></div>
            <div class="NBSeparatorVertical"></div>

            <div class="NBRow">
                <a class="NBRLink" asp-controller="Home" asp-action="LogOut">
                    <img src="~/images/log-out-icon-v2.png" />
                    <p>Log out</p>
                </a>
            </div>
            <div class="NBSeparator"></div>
            <div class="NBSeparatorVertical"></div>

        </div>

        @RenderBody()
    }
    <script src="~/js/Main.js"></script>
</body>
</html>
