* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yantramanav", sans-serif;
    background: #1e1e1e;
    overflow-x: hidden;
}

.Background {
    position: fixed;
    height: 100%;
    width: 250%;
    background: #272727;
    right: 0;
    transform-origin: top right;
    transform: rotate(-30deg);
}

#NavigationBar {
    position: fixed;
    min-height: 100%;
    background: #2f2f2f;
    width: 50px;
    transition: width 0.5s;
    z-index: 10;
}

.NBRow {
    position: relative;
    height: 50px;
    width: 100%;
    float: left;
    display: block;
    background: transparent;
    overflow: hidden;
}

.NBRHideOrShowButton {
    position: absolute;
    background: transparent;
    height: 50px;
    width: 50px;
    right: 0px;
}

.NBRHideOrShowButton > img {
    background: transparent;
}

.NBRHideOrShowButton:hover {
    background: #3a3a3a;
}

.NBSeparator {
    height: 1px;
    background: white;
    width: 98%;
    margin: auto;
}

.NBRLink {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    background: transparent;
    outline: none;
    color: white;
    transition: transform 0.5s;
    overflow: hidden;
}

.NBRLink > img {
    position: absolute;
    background: #2f2f2f;
    z-index: 11;
}

.NBRLink:hover {
    transform: translateX(9px);
    transition: transform 0.5s;
}

.NBRLink > p {
    position: absolute;
    right: 10px;
    background: transparent;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
}

#Shader {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #1e1e1ea4;
    z-index: 1000;
    visibility: hidden;
}

#MainFrame {
    position: absolute;
    background: transparent;
    height: auto;
    width: 98%;
    top: 0px;
    right: 1%;
    z-index: 4;
    overflow: visible;
}

.ErrorMessagesPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
    max-width: 490px;
    height: auto;
    background: rgb(47, 47, 49);
    border-radius: 10px;
    color: white;
    z-index: 1001;
}

.EMPHideButton {
    bottom: 10px;
    margin: auto;
    position: relative;
    height: 40px;
    width: 70px;
    background: #1a8f08;
    border-radius: 10px;
    cursor: pointer;
}

.EMPHideButton:hover {
    background: #23bd0b;
}

.EMPHideButton > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    font-size: 20px;
}

.ErrorMessagesPanel > p {
    margin: 10px;
    background: inherit;
    font-size: 20px;
}

.Noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 500px) {
    .Background {
        transform: rotate(-60deg);
    }

    #IconContainer {
        height: 130px;
        width: 130px;
    }

    #MainFrame {
        position: absolute;
        background: transparent;
        height: auto;
        width: 98%;
        top: 10px;
        right: 1%;
        left: 1%;
        z-index: 1;
    }
}
